<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.com.concrete.tentacle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".base.AppTentacle"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".features.login.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".features.register.RegisterActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
                android:name=".features.HostActivity"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".features.registerGame.RegisterGameHostActivity"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".features.library.loan.LoanActivity"
                android:label="@string/toolbar_title_loan_game"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".features.library.loan.LoanActivitySuccess"
                android:theme="@style/AppTheme.FullScreen"/>
        <activity
                android:name=".features.lendgame.LendGameActivity"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name=".features.lendgame.LendGameActivitySuccess"
                  android:theme="@style/AppTheme.FullScreen"/>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="938be7df4916734a793fa34ad87a79af694d54a2"/>
    </application>

</manifest>