<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.com.concrete.tentacle">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
            tools:ignore="GoogleAppIndexingWarning"
            android:usesCleartextTraffic="true" tools:targetApi="m">
        <activity android:name=".testing.SingleFragmentTestActivity"/>
        <activity android:name=".testing.BottomBarTestActivity"/>
    </application>
</manifest>